
<div class="result row">
  <div class="title">
    <h4>{{ Name }}</h4>
    <div class="meta">
      <strong>Meta-data:</strong> Runtime: {{ Runtime }}
      mins, Released: {{ ReleaseYear }}, Rating: {{ Rating }}</span>
    </div>

    <div class="span12 cover">
      <div class="span4">
        <img src="{{ BoxArt.MediumUrl }}" />
      </div>
      <div class="synop span8">{{ ShortSynopsis }}</div>
    </div>

  </div>